* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    
    background: linear-gradient(45deg, rgba(74,222,128,0.7), transparent),radial-gradient(circle, #22d3ee, #0c4a6e);;
    color: #f8fafc;
    line-height: 1.6;
    scroll-behavior: smooth;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background: #1e293b;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #94a3b8;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}


.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.highlight {
    color: rgb(7, 11, 11);
}

.btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}


.project-section {
    padding: 80px 10%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #334155;
    transition: border-color 0.3s;
}

.project-card:hover {
    border-color: #0f172a;
}

footer {
    text-align: center;
    padding: 60px 10%;
    background: #000000;
}

.socials a {
    color: #afdbdb;
    margin: 0 10px;
    text-decoration: none;
}

.copy {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #64748b;
}
.image-container {
    display: flex;          
    gap: 20px;             
    justify-content: center;
    flex-wrap: wrap;       
}

.gallery-img {
    width: 500px;          
    height: 200px;
    object-fit: cover;     
    border-radius: 10px;
}
.span{
    color: #0f172a;
}
.a{
    color: aliceblue;
}

.skill-img {
    width: 300px;
    height: auto;
    margin-bottom: 50px;
    /* Optional: Glow effect para sa image */
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
    
}

.skill-card{
    display: flex;          
    gap: 20px;             
    justify-content: center;
    flex-wrap: wrap;
}

.skill{
    display: flex;                       
    justify-content: center;
    flex-wrap: wrap;
}